.outer-headings {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

h1 {
  /* font-size: 45px; */
}

.inner-headings {
  /* border: 0px solid #ddd; */
  height: 40px;
  line-height: 40px;
  font-size: 35px;
  text-transform: uppercase;
  overflow: hidden;
}

.inner-headings span {
  position: relative;
  /* color: crimson; */
  animation: animation 10s ease infinite;
}

.quote {
  text-align: right;
}

@keyframes animation {
  0%,
  100% {
    top: 0;
  }
  20% {
    top: 0;
  }
  25% {
    top: -40px;
  }
  45% {
    top: -40px;
  }
  50% {
    top: -80px;
  }
  70% {
    top: -80px;
  }
  75% {
    top: -120px;
  }
  95% {
    top: -120px;
  }
}
