.drawer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 3;
}

.three-columns-grid {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

#navbar {
  position: sticky;
  top: 0;
  z-index: 2;
}
