.flexFiller  {
  display: flex;
  flex-wrap: wrap;
  padding-left: 40px;
}

.repoCard {
  overflow-y: auto;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: grey;
  word-break: break-word;
  padding: 5px;
  max-width: 250px;
  min-height: 120px;
  max-height: 150px;
  display: grid;
  grid-template-rows: 1fr min-content;
  grid-template-areas:
    'nameAndDescription'
    'languageAndLink'
}

.repoCard:hover {
  background-color: red
}

.cardTitle {
  text-align: center;
  font-size: large;
  margin: 0;
}

.nameAndDescription {
  grid-area: nameAndDescription;
}

.lanugageAndLink {
  display: grid;
  grid-area: languageAndLink;
  grid-template-areas:
    'language ghLink';
  align-items: center;
  justify-items: center;
  border-top: 1px solid black;
}

.language {
  grid-area: language;
}

.ghLink {
  grid-area: ghLink;
}

